#calculator
  #display
    #display-text
      #prev
      #current 0
    
  #buttons
    button.digit 7
    button.digit 8
    button.digit 9
    button.operation#add +
    
    button.digit 4
    button.digit 5
    button.digit 6
    button.operation#subtract -
    
    button.digit 1
    button.digit 2
    button.digit 3
    button.operation#multiply(value="*") ร
    
    button.digit .
    button.digit 0
    button.operation#clear C
    button.operation#divide(value="/") รท
    
    button.operation#equals =
#copyright Mathew Hany &copy; 2017